.btn {
    width: 195px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: $main-color;
    border-radius: 10px;
    border: none;
}
.btn-big {
    width: 208px;
    height: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: rgba(24, 154, 76, 0.75);
    border-radius: 10px;
    border: none;
}