.btn {
    width: 195px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: $main-color;
    border-radius: 10px;
    border: none;
}