.menu {
    padding: 150px 0px 100px 0px;
    min-height: 960px;
    &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        color: $black-color;
    }
    &_text {
        margin-top: 70px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: $black-color;
        span {
            color: $main-color;
            font-weight: bold;
        }
    }
    &_program {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        &__item {
            padding: 25px 20px;
            width: 200px;
            height: 92px;
            background: #FFFFFF;
            box-shadow: 0px 15px 50px rgba(57, 57, 57, 0.1);
            border-radius: 10px;
            &_title {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: $black-color;
            }
            &_subtitle {
                margin-top: 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: $grey-color;
            }
        }
    }
    &_calories {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        width: 525px;
        &__item {
            width: 97px;
            display: flex;
            justify-content: space-between;
            height: 33px;
            &_info {
                width: 54px;
                span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    color: $grey-color;
                }
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: $black-color;
            }
        }
    }
    &_week {
        &__title {
            margin-top: 70px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: $black-color;
        }
        &__wrapper {
            padding-left: 0px;
            margin-top: 30px;
            width: 830px;
            display: flex;
            justify-content: space-between;
            &_day {
                list-style-type: none;
            }
        }
    }
    &_meal {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        &__block {
            padding: 25px 25px;
            width: 310px;
            height: 242px;
            background: #FFFFFF;
            box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
            border-radius: 30px;
            &_title {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: $main-color
            }
        }
    }
    &_subscriptions {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
            width: 175px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: $black-color;
        }
        &__item {
            padding: 20px 20px;
            width: 150px;
            height: 100px;
            left: 722px;
            top: 1713px;
            border: 1px solid rgba(24, 154, 76, 0.25);
            border-radius: 10px;
            &_days {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 16px;
                color: $black-color;
            }
            &_price {
                margin-top: 8px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                color: $black-color;
            }
            &_subprice {
                margin-top: 8px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 12px;
                color: $black-color;
            }
        }
    }
}